service thermal-engine /vendor/bin/thermal-engine
    class main
    user root
    group root
    socket thermal-send-client stream 0660 system oem_2907
    socket thermal-recv-client stream 0660 system oem_2907
    socket thermal-recv-passive-client stream 0660 system oem_2907
    socket thermal-send-rule stream 0660 system oem_2907
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

on boot && property:ro.product.vendor.device=*
    mount none /vendor/etc/thermal-engine-map-${ro.product.vendor.device}.conf /vendor/etc/thermal-engine-map.conf bind
    start thermal-engine

on init && property:ro.boot.hwname=joyeuse
    setprop ro.boot.product.hardware.sku joyeuse
    start vendor.nfc_hal_service

# perf tuning
on property:vendor.post_boot.parsed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-5
    write /dev/cpuset/restricted/cpus 0-3

    # Setup default schedTune value for foreground/top-app/rt
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 15
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/rt/schedtune.boost 10
    write /dev/stune/rt/schedtune.prefer_idle 1

    # Setup schedutil ratelimits - 0us fast ramp-up, 20ms hold between frames
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 0
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/up_rate_limit_us 0
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/down_rate_limit_us 20000

    # Reinit lmkd to reconfigure lmkd properties
    setprop lmkd.reinit 1

    # EAS - aggressive migration to Big cores for gaming & audio smoothness (prevent Little core choke)
    write /proc/sys/kernel/sched_upmigrate 60
    write /proc/sys/kernel/sched_downmigrate 50
    write /proc/sys/kernel/sched_group_upmigrate 75
    write /proc/sys/kernel/sched_group_downmigrate 60
    write /proc/sys/kernel/sched_walt_rotate_big_tasks 1

    # Enable schedutil predicted-load boosting and disable conservative pl
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 1
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/pl 1
    write /proc/sys/kernel/sched_conservative_pl 0

